<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="header"/>

<body>
  	<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        知识库管理
        <small>肿瘤</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> 主页</a></li>
        <li><a href="#"></i> 知识库管理</a></li>
        <li class="active">肿瘤</li>
      </ol>
    </section>

    <section class="content container-fluid">
    	<h1>HELLO WORD</h1>
    </section>
  	</div>
  	
	<div th:include="footer"/>
</body>

</html>